
#projects{
	padding-top: 30px;
	padding-bottom: 90px;
	padding-left: 90px;
	padding-right: 90px;
}

.abt{
  padding: 30px;
}

.icon_size{
  width:100px !important;
  height: 100px !important;
}
.pad{
  padding-top: 0px;
}

body {
    background-color: black;
    color: rgba(255,255,255,0.8);
}
#intro{
    margin-top: 50px;
}
#landing{
    height: 100vh;
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
#mainText{
    margin-top: 30vh;
}

.parallax-container{
  position:static;
  height: 500px;
}
#p1{
    height: 350px;
}

#project{
    padding: 70px;
}

.education{
	border-left: 5px solid #bdc3c7;
	padding-left: 5px 
}